/* font-family: 'Barlow', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Merienda', cursive;
font-family: 'Roboto', sans-serif; */
/* Sarı #FDC913, Açık Gri: #5F5F5F, Koyu Gri #292929, Kırmızı #CE2829, Bej: #FAF7F2 */

@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap");

/* hero section */
.homePage .hero {
  background-image: url("../assets/mvp-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePage .hero header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  height: 20%;
}

.homePage .hero header h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: white;
}

.homePage .hero section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  height: 30%;
  max-width: 600px;
}

.homePage .hero section p {
  width: 100%;
  font-size: 4rem;
  color: white;
  text-align: center;
  font-family: "Barlow Condensed";
  font-weight: 100;
}

.homePage .hero section button {
  height: 50px;
  width: 200px;
  font-weight: bold;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  background-color: #fdc913;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.homePage .hero section button a {
  text-decoration: none;
}

/* navbar section */

.homePage .navbar {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homePage .navbar ul {
  list-style-type: none;
  width: 70%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.homePage .navbar ul li {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.homePage .navbar ul li img {
  height: 100%;
}
.homePage .navbar ul li a {
  text-decoration: none;
  font-size: 1rem;
}

.homePage .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #faf7f2;
  padding-top: 100px;
  gap: 100px;
}

.homePage .content .featured {
  width: 70%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.homePage .content .featured button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: #ce2829;
  font-weight: bold;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.homePage .content .featured .left-box {
  background-image: url("../assets/adv-aseets/kart-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.homePage .content .featured .left-box h3 {
  font-size: 4rem;
  color: white;
}
.homePage .content .featured .left-box p {
  font-size: 1.2rem;
  color: white;
}
.homePage .content .featured .right-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.homePage .content .featured .right-box .top {
  background-image: url("../assets/adv-aseets/kart-2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.homePage .content .featured .right-box .top h4 {
  color: white;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.homePage .content .featured .right-box .bottom {
  background-image: url("../assets/adv-aseets/kart-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  padding: 30px;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.homePage .content .featured .right-box .bottom span {
  color: #ce2829;
}

.homePage .content .menu {
  width: 70%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.homePage .content .menu .top-box {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.homePage .content .menu .top-box p {
  height: 56px;
}
.homePage .content .menu .top-box p:nth-child(1) {
  font-size: 1.5rem;
}
.homePage .content .menu .top-box p:nth-child(2) {
  font-size: 2rem;
}
.homePage .content .menu .top-box nav {
  width: 100%;
}
.homePage .content .menu .top-box nav ul {
  list-style-type: none;
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.homePage .content .menu .top-box nav ul li {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #ffffff;
}
.homePage .content .menu .top-box nav ul li:hover {
  background-color: #292929;
}
.homePage .content .menu .top-box nav ul li:hover > a {
  color: white;
}

.homePage .content .menu .top-box nav ul li img {
  height: 50%;
}
.homePage .content .menu .top-box nav ul li a {
  text-decoration: none;
  font-size: 1rem;
}

.homePage .content .menu .bottom-box {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.homePage .content .menu .bottom-box .pizzaCard {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: scale 0.3s;
}
.homePage .content .menu .bottom-box .pizzaCard:hover {
  scale: 1.05;
}
.homePage .content .menu .bottom-box .pizzaCard img {
  width: 80%;
}
.homePage .content .menu .bottom-box .pizzaCard p:nth-child(2) {
  font-size: 1.5rem;
}
.homePage .content .menu .bottom-box .pizzaCard p:nth-child(3) {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.homePage
  .content
  .menu
  .bottom-box
  .pizzaCard
  p:nth-child(3)
  span:nth-child(3) {
  font-weight: bold;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .homePage .hero header h1 {
    font-size: 2rem;
  }
  .homePage .hero section p {
    font-size: 3rem;
  }
  .homePage .hero section {
    padding-top: 10px;
    justify-content: space-around;
  }
  .homePage .hero section button {
    height: 30px;
    width: 150px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}
