.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background-color: #c20608;
  color: white;
}
.main-header .content {
  height: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-header h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: white;
}

.main-header nav {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.main-header nav a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}

@media (max-width: 600px) {
  nav {
    padding-left: 20px;
  }
}
