/* Sarı #FDC913, Açık Gri: #5F5F5F, Koyu Gri #292929, Kırmızı #CE2829, Bej: #FAF7F2 */
.homePage {
  background-image: url("./assets/mvp-banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homePage header {
  width: 35%;
  padding: 5% 0px;
  height: 20%;
}
.homePage header h1 {
  text-align: center;
  font-size: 8rem;
  color: white;
}

.homePage section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  height: 30%;
  width: 30%;
}

.homePage section p {
  height: 50%;
  width: 100%;
  font-size: 15rem;
  color: white;
  text-align: center;
}

.homePage section button {
  height: 200px;
  width: 800px;
  border-radius: 100px;
  border: none;
  font-size: 5rem;
  background-color: #fdc913;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
